<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Web Service Semântico de Requisitos"/>
    <meta name="author" content="Rodrigo"/>

    <link  rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
    <link  rel="stylesheet" th:href="@{/css/sistema.css}" href="../static/css/sistema.css"/>

    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

    <title>Domínio</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Tesauros</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/webapp/requirements/getAllRequirements}" href="/webapp/systemTypes/getAllRequirements">Requisitos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/webapp/domains/getAllDomains}" href="/webapp/domains/getAllDomains">Domínios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/webapp/requirementTypes/getAllRequirementTypes}" href="/webapp/requirementTypes/getAllRequirementTypes">Tipos de Requisitos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/webapp/systemTypes/getAllSystemTypes}" href="/webapp/systemTypes/getAllSystemTypes">Tipos de Sistemas</a>
            </li>
        </ul>
    </div>
</nav>
<br/><br/>

<div class="container p-3 mb-2 bg-light text-dark">

    <div class="container"  align="center">
        <h1>Domínio</h1>
    </div>

    <div id="formulario-cadastro" th:action="@{/webapp/domains/create}" th:object="${domain}" method="POST">
        <div class="form-group">
            <label for="label"><strong>Nome</strong></label>
            <input type="text" class="form-control" id="label" th:field="*{label}" >
        </div>
        <div class="form-group">
            <label for="prefLabel"><strong>Nome preferencial</strong></label>
            <input type="text" class="form-control" id="prefLabel" th:field="*{prefLabel}" >
        </div>
        <div class="form-group">
            <label for="altLabel"><strong>Nome alternativo</strong></label>
            <input type="text" class="form-control" id="altLabel" th:field="*{altLabel}" >
        </div>
        <div class="form-group">
            <label for="linkDbpedia"><strong>Link DBpedia</strong></label>
            <input type="text" class="form-control" id="linkDbpedia" th:field="*{linkDbpedia}" >
        </div>
        <div class="form-group">
            <label for="description"><strong>Descrição</strong></label>
            <textarea type="text" class="form-control" rows="4" id="description" th:field="*{description}" />

        </div>
        <div class="form-group">
            <label><strong> Domínio Generalista (Acima)</strong></label>
            <table class="table table-hover">
                <tbody>
                <th:block id="broaderDomainID" th:each="bDomain : ${domainBroader}">
                    <tr scope="row">
                        <td th:text="${bDomain.label}">
                        </td>
                        <td>
                            <!--                             REALIZANDO A REQUEST PARA DETALHAR UM CADASTRO-->
                            <form th:action="@{/webapp/domains/getDomain}" method="POST">
                                <input type="hidden" name="uriDomain" th:value="${bDomain.url}" />
                                <button type="submit" class="btn btn-outline-info" ><i>Acessar</i></button>
                            </form>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label><strong>Domínios Específicos (Abaixo)</strong></label>
            <table class="table table-hover">
                 <tbody>
                    <th:block id="narrowerDomainID" th:each="nDomain : ${domainNarrower}">
                        <tr scope="row">
                            <td th:text="${nDomain.label}">
                            </td>
                            <td>
                                <!--                             REALIZANDO A REQUEST PARA DETALHAR UM CADASTRO-->
                                <form th:action="@{/webapp/domains/getDomain}" method="POST">
                                    <input type="hidden" name="uriDomain" th:value="${nDomain.url}" />
                                    <button type="submit" class="btn btn-outline-info" ><i>Acessar</i></button>
                                </form>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label ><strong>Requisitos Específicos (Abaixo)</strong></label>
            <table class="table table-hover">
                <tbody>
                <th:block id="narrowerRequirementID" th:each="requirement : ${requirementNarrower}">
                    <tr scope="row">
                        <td th:text="${requirement.label}">
                        </td>
                        <td>
                            <!--                             REALIZANDO A REQUEST PARA DETALHAR UM CADASTRO-->
                            <form th:action="@{/webapp/requirements/getRequirement}" method="POST">
                                <input type="hidden" name="uriRequirement" th:value="${requirement.url}" />
                                <button type="submit" class="btn btn-outline-info" ><i>Acessar</i></button>
                            </form>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

</div>
</div>
<div class="container"  align="center">
    <form th:action="@{/webapp/domains/editDomain}" th:object="${domain}" method="POST">
        <input type="hidden" name="uriDomain" th:value="${domain.url}" />
        <button type="submit" class="btn btn-secondary" ><i >Editar</i></button>
    </form>
</div>
</body>
</html>