<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Web Service Semântico de Requisitos"/>
    <meta name="author" content="Rodrigo"/>

    <link  rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
    <link  rel="stylesheet" th:href="@{/css/sistema.css}" href="../static/css/sistema.css"/>

    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <title>Tipos de Sistemas</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Tesauros</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Requisitos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/webapp/domains/getAllDomains}" href="/webapp/domains/getAllDomains">Domínios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tipos de Requisitos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/webapp/systemTypes/getAllSystemTypes}" href="/webapp/systemTypes/getAllSystemTypes">Tipos de Sistemas</a>
            </li>
        </ul>
    </div>
</nav>
<br/><br/>
<div class="container">
    <div ></div>
    <section >

        <div >
            <div class="container"  align="center">
                <h1>Tipos de Sistemas Cadastrados</h1>
            </div>

            <table class="table table-hover">
                <!-- CABEÇALHO DA TABELA -->
                <thead>
                <tr>
                    <th scope="col" >Nome</th>
                    <th scope="col" >URI</th>
                    <th scope="col" >Detalhar</th>
                    <th scope="col" >Excluir</th>
                </tr>
                </thead>
                <tbody>
                <!-- PREENCHENDO A TABELA COM OS TIPOS DE SISTEMAS CADASTRADOS-->
                <th:block th:each="systemType : ${systemTypes}">
                    <tr scope="row">
                        <td th:text="${systemType.label}"></td>
                        <td th:text="${systemType.url}" ></td>

                        <td>
                            <!--                             REALIZANDO A REQUEST PARA DETALHAR UM CADASTRO-->
                            <form th:action="@{/webapp/systemTypes/getSystemType}" method="POST">
                                <input type="hidden" name="uriSystemType" th:value="${systemType.url}" />
                                <button type="submit" class="btn btn-outline-info" ><i>Detalhar</i></button>
                            </form>
                        </td>
                        <td>
                            <!-- EXCLUINDO UM REGISTRO CADASTRADO -->
                            <form th:action="@{/webapp/systemTypes/delete}" method="POST">
                                <input type="hidden" name="uriSystemType" th:value="${systemType.url}" />
                                <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Deseja realmente excluir esse registro?');"><i >Excluir</i></button>
                            </form>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </section>
</div>
<div class="container"  align="right">
    <a class="btn btn-primary" th:href="@{/webapp/systemTypes/create}" href="/webapp/systemTypes/create" role="button">Novo</a>
</div>

</body>
</html>